doctype html
html(lang="en")
  head
    title Bananagrams!
    meta(charset='utf-8')
    link(rel="stylesheet", href="/static/main.css")
    link(rel="icon", type="image/x-icon", href="/static/favicon.ico")
  body
    p Bananagrams solver!
    input(type="number", value="21", id="numChars")
    input(type="button", value="generate characters", id="btn")
    br
    br
    input(type="text" id="chars", style="width: 30%;")
    input(type="button", value="solve!", id="btnSolve")
    p(id="solution")
    script(src="/static/main.js")